/* General stylings */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --mainWhite: #ffffff;
  --subWhite: #eeeeee;
  --mainBlack: #000000;
  --mainRed: #ff0000;
  --mainYellow: #ffff00;
  --mainGrey: #808080;
  --subGrey: rgb(220, 220, 220);
  --lightGrey: #808075;
  --gray: #c4c4c4;
  --orange: #ffa500;
  --darkOrange: #e47d00;
  --mainBlue: #0000ff;
  --subBlue: #000022;
  --navy: #000080;
  --lightBlue: #61dafb;
  --mainPurple: #800099;
  --firstFont: sans-serif;
  --secondFont: cursive;
}

html,
body {
  background: var(--subWhite);
  height: 100%;
  /* background: red; */
}

/* Styling for the nav bar starts */
.nav-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  background: var(--mainGrey);
  z-index: 111;
  width: 100%;
  height: 5rem;
  padding: 0.2rem 0;
  position: sticky;
  top: 0;

  button {
    display: none !important;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: var(--mainBlack);
    width: 10rem;
    z-index: 111;

    a {
      font-size: 1.5rem;
      color: var(--mainWhite);
      text-decoration: none;
      font-weight: 700;
      margin: 0 1rem;
      transition: all 0.5s;

      &:hover {
        color: var(--orange);
      }
    }
  }

  .nav-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    // background: red;
    padding: 1rem 0 1rem 2rem;
    width: 80%;

    li {
      list-style-type: none;
      /* background: #8b0000; */
      margin-left: 0.3rem;
      padding: 0.4rem;

      p {
        color: var(--subWhite);
        cursor: default;
      }

      a {
        color: var(--mainWhite);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.5s;

        &:last-child {
          margin-right: 1rem;
        }

        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

/* Styling for the nav bar ends */

@media screen and (max-width: 1023px) {
  .open {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    flex-direction: column !important;
    animation: 1s navTransition !important;
  }

  @keyframes navTransition {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 0.9;
    }
  }

  .nav-section {
    // position: sticky;
    // top: 0;
    z-index: 111;

    header {
      // padding-right: 200px;
      // background: var(--mainGrey);
      margin-top: -1rem;
      padding-top: 1rem;
    }

    button {
      display: block !important;
      z-index: 111;
      background: var(--mainGrey);
      border: none;
      font-size: 1.5rem;
      height: 0.3rem;
      color: var(--mainWhite);
      border-radius: 0.3rem;
      outline: none;
      cursor: pointer;
      margin: 1.5rem 1rem 0 0;
    }

    .nav-ul {
      display: none;
      height: 100%;
      width: 100%;
      background: var(--mainGrey);
      opacity: 0.9;
      overflow-y: scroll;
      position: fixed;
      top: 3.5rem;
      transition: all 0.5s !important;
      z-index: -1 !important;

      li {
        margin-top: -19rem !important;

        &:last-child {
          margin-bottom: 2rem !important;
        }

        a {
          font-size: 1.3rem;
          font-weight: 800;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .nav-section {
    .nav-ul {
      li {
        margin-right: 3rem;
        padding: 1rem 0;
        margin-top: -8rem !important;
      }
    }
  }
}

@media screen and (max-height: 400px) {
  .nav-section {
    .nav-ul {
      li {
        margin-top: -2.5rem !important;
      }
    }
  }
}

/* Stylings for project buttons starts */
.btn {
  width: 8rem;
  padding: 0.5rem;
  cursor: pointer;

  &.btn-primary {
    background: var(--mainWhite);
    color: var(--mainBlack);
    border: 2px solid var(--mainRed);
    border-radius: 0.2rem;
    transition: all 0.5s;
    font-size: medium;
    font-weight: 800;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background: var(--mainRed);
      color: var(--mainWhite);
      box-shadow: 0 0 0.5rem var(--mainRed);
      opacity: 0.9;
    }
  }

  &.btn-secondary {
    background: var(--mainWhite);
    color: var(--mainBlack);
    border: 2px solid var(--lightBlue);
    border-radius: 0.2rem;
    transition: all 0.5s;
    font-size: medium;
    font-weight: 800;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background: var(--lightBlue);
      color: var(--subBlue);
      box-shadow: 0 0 0.5rem var(--lightBlue);
      opacity: 0.9;
    }
  }

  &.btn-success {
    background: var(--orange);
    color: var(--mainBlack);
    border: 2px solid var(--darkOrange);
    border-radius: 0.2rem;
    transition: all 0.5s;
    font-size: medium;
    font-weight: 800;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background: var(--darkOrange);
      box-shadow: 0 0 0.5rem var(--darkOrange);
      opacity: 0.9;
    }
  }
}

/* Stylings for project buttons ends */

/* Stylings for project alerts starts */
.alert {
  width: 100%;
  min-height: 1rem;
  line-height: 2.5rem;
  font-size: 1rem;
  color: var(--mainBlack);
  font-weight: 500;

  &.alert-danger {
    background: rgba(240, 126, 145, 0.4);
    opacity: 0.7;
  }
}
/* Stylings for project alerts ends */
