/* Stylings for products page */
.all_products {
  padding: 3rem 0;
  max-width: 100rem;
  margin: 0 auto;

  .all_products_body {
    .products_header {
      text-align: center;
      font-size: 1.5rem;
      font-family: cursive;
      font-weight: 600;
      color: #002;
    }

    .products {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-flow: row wrap;
      padding: 2rem 0;
      margin: 0 auto;
      max-width: 100%;
      // background: #002;

      .product {
        margin: 1.2rem 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border-bottom: 0.1rem solid #000;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 0 0.2rem #000;
        background: #eee;
        transition: all 0.5s;

        img {
          width: 100%;
          height: 20rem;
        }

        .product_name {
          color: red;
          font-size: 0.9rem;
          font-weight: 600;
          padding: 0.2rem 0;
        }

        .product_price {
          color: #000;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 0.2rem 0;
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .products {
    width: 70rem;

    .product {
      margin: 1rem 2rem !important;
      width: 18rem !important;

      img {
        width: 100%;
        height: 15rem !important;
      }
    }
  }
}

// @media screen and (min-width: 1010px) {
//   .products {
//     .product {
//       margin: 1rem 1.6rem !important;
//       width: 18rem !important;
//     }
//   }
// }

// @media screen and (min-width: 1100px) {
//   .products {
//     .product {
//       margin: 1rem 2.6rem !important;
//     }
//   }
// }
