/* Stylings for products details page */
// Choice product details stylings
.container {
  max-width: 1500px;
  margin: 1rem auto;
  // background: red;

  .elements {
    padding: 2rem;
    margin: -2rem 1rem;
    // background: green;
    max-width: 500px;

    .image-detail {
      margin: 0 auto;
      padding: 1rem;

      img {
        width: 25rem;
        height: 25rem;
      }
    }

    .product-details {
      .main-details {
        padding: 1rem;

        p {
          padding: 0.2rem 0;
        }

        .detail {
          margin: 0.4rem 0;

          b {
            font-size: 1.2rem;
          }
        }

        .product-name,
        .product-description,
        .product-price,
        .product-category {
          font-size: 1.2rem;
        }

        .product-price {
          font-weight: 600;
          color: var(--subBlue);
        }

        .status {
          padding: 0.5rem 0;
          font-size: 1.1rem;

          .status_available {
            color: var(--mainBlue);
          }

          .status_unavailable {
            color: var(--mainRed);
          }
        }
      }
    }

    .buttons {
      button {
        margin: 0.3rem 0.5rem;
        width: 10rem !important;
        border-radius: 5px !important;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .container {
    height: 28rem;
    padding: 5rem 0;

    .elements {
      display: flex;
      max-width: 1000px !important;
    }
  }

  .details-page {
    &.display {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    .elements {
      .image-detail {
        img {
          width: 30rem;
          height: 30rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product-image {
    width: 200px !important;
    height: 200px !important;
  }
}

@media screen and (max-width: 240px) {
  .elements {
    margin: 0 !important;
  }

  .product-image {
    width: 150px !important;
    height: 150px !important;
  }
}
