/* Stylings for products page */
.all_products {
  padding: 3rem 0;
  max-width: 100rem;
  margin: 0 auto;

  .all_products_body {
    .products {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      flex-flow: row wrap;
      padding: 2rem 0;
      margin: 0 auto;
      width: 62rem;
      // background: #002;

      .product {
        margin: 1.2rem auto;
        padding-bottom: 1rem;
        width: 70%;
        border-bottom: 0.1rem solid var(--mainBlack);
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 0 0.2rem var(--mainBlack);
        background: #eee;
        // transition: all 0.4s;

        img {
          width: 100%;
          height: 20rem;
        }

        .product_detail {
          .product_name,
          .product_category,
          .product_price {
            font-weight: bold;
            padding: 0.2rem 0;
            font-size: 1rem;
          }

          .product_price {
            color: var(--mainRed);
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .products {
    max-width: 41.3rem !important;

    .product {
      margin: 1rem 1.3rem !important;
      width: 18rem !important;

      img {
        width: 100%;
        height: 15rem !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .products {
    max-width: 490px !important;
    .product {
      margin: 1rem 1.3rem !important;
      width: 100% !important;

      &:first-child {
        margin-left: 1.3rem !important;
      }

      img {
        height: 13rem !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .products {
    width: 100% !important;
    .product {
      img {
        height: 13rem !important;
      }
    }
  }
}

@media screen and (max-width: 250px) {
  .products {
    .product {
      img {
        height: 8rem !important;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .products {
    width: 62rem;

    .product {
      margin: 1rem 1.3rem !important;
      width: 18rem !important;

      img {
        width: 100%;
        height: 15rem !important;
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .products {
    width: 83rem !important;

    .product {
      margin: 1rem 1.3rem !important;
      width: 18rem !important;

      img {
        width: 100%;
        height: 15rem !important;
      }
    }
  }
}
