/* Stylings for products page */
.all_products {
  padding: 3rem 0;
  max-width: 100rem;
  margin: 0 auto;

  .all_products_body {
    .products {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      flex-flow: row wrap;
      padding: 2rem 0;
      margin: 0 auto;
      width: 100%;
      // background: #002;

      .product {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 1.2rem 0.5rem;
        padding: 2rem 1rem;
        width: 40rem;
        max-width: 80rem;
        border-bottom: 1px solid var(--mainBlack);
        border-radius: 3px;
        overflow: hidden;
        // box-shadow: 0 0 0.2rem var(--mainBlack);
        background: #eee;
        transition: all 0.2s;

        img {
          width: 20rem;
          height: 25rem;
        }

        .product-details {
          .product_name,
          .product_category,
          .product_detail,
          .product_price {
            font-weight: bold;
            padding: 0.2rem 0;
            font-size: 1rem;
          }

          .product_category {
            color: var(--mainRed);
          }

          .product_price {
            color: var(--subBlue);
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .products {
    .product {
      max-width: 30rem !important;

      img {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .products {
    .product {
      img {
        height: 13rem !important;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .products {
    .product {
      flex-wrap: nowrap !important;

      .product-details {
        padding: 2rem 0 !important;
        margin: 70px 5px !important;
        width: 100% !important;
        text-align: left !important;
        // background-color: green;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .products {
    .product {
      margin: 1.2rem !important;
      margin-left: 1.7rem !important;
      margin-right: 1rem !important;
      width: 45rem !important;
    }
  }
}

@media screen and (max-width: 1650px) {
  .products {
    .product {
      width: 100rem !important;
      margin: 1.2rem auto !important;
    }
  }
}

@media screen and (max-width: 1100px) {
  .products {
    .product {
      width: 90% !important;
      margin: 1.2rem auto !important;
    }
  }
}
