/* Stylings for SearchBar */
.search_box {
  z-index: 11;
  .search_section {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;

    div {
      width: 100%;
      display: flex;
      // background-color: red;

      input {
        padding: 0.5rem 0.4rem;
        outline: none;
        height: 1rem;
        width: 100%;
        border: none;
        border-radius: 0.2rem 0 0 0.2rem;
        font-size: 0.95rem;

        &::placeholder {
          font-size: 0.95rem;
        }
      }

      button {
        color: var(--mainBlack);
        background: var(--mainWhite);
        border: none;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 0 0.2rem 0.2rem 0;
        outline: none;
        font-size: 0.9rem;
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .search_box {
    position: sticky;
    top: 5.4rem;

    .search_section {
      div {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}
